<!DOCTYPE html>
<html>
<head>
	<title>Audio Book</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    </style>
</head>
<body>
    
    
    

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Audio Books</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><a href="{{url_for('home')}}"> Home </a></button>
        </div>
        
        
    </nav>


<div class='App'>
    <header class='App-header'>
        <center>
            <div>
                <h1>Helen Keler</h1>
                <h2>The Story of my Life</h2>
            </div>
        <div>
            <section >

                
<div class="row">
  <div class="column" style="background-color:#ca6f1e;">
    <h2> Chapter 1</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_01_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
    <h2> Chapter 2</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_02_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 

  </div>
  <div class="column" style="background-color:#633974;">
    <h2> Chapter 3</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_03_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 

  </div>
</div>
                <br>
                
                
                {% block content %}
  <audio src="{{ sayit(text='Hello from Flask !')}}"></audio>
{% endblock %}            
                    
                
                
                                
<div class="row">
  <div class="column" style="background-color:#ca6f1e;">
        <h2> Chapter 4</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_04_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
   
  </div>
  <div class="column" style="background-color:#daf7a6;">
      <h2> Chapter 5</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_05_keller_64kb.mp3')}}" type='audio/mp3'>  
</audio> 
   
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 6</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_06_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                
                <br>
                
                                
<div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 7</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_07_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 8</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_08_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 9</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_09_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                
                
           

        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 10</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_10_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 11</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_11_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 12</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_12_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                

                
        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 13</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_13_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 14</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_14_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 15</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_15_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                

        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 16</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_16_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 17</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_17_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 18</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_18_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                
                
        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 19</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_19_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 20</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_20_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
       <h2> Chapter 21</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_21_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>              
                

        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
       <h2> Chapter 22</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_22_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
       <h2> Chapter 23</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='storyofmylife_23_keller_64kb.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
                    
                      <div class="column" style="background-color:#633974;">
                          <br>
       <h3> The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart - Helen Keler</h3>
 
 
</div>    
                
                
           
            
            
           
                </div>
            
            
            
            </section></div></center>
	</header>
</div>

</body>
</html>
