<!doctype html>
<html>
  <head>
    <title>Currency Note | Drishya</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
    
        <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Currency Note Detection</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><a href="{{url_for('home')}}"> Home </a></button>
        </div>
        
        
    </nav>
    
    <style>
    
    .button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
    </style>
    
                    <script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
    
    

  <body>
      <br><br>
    <h1>Upload Image</h1>
    <form method="POST" action="/currency" enctype="multipart/form-data">
      <p><input type="file"  accept="image/*" name=file   onchange="loadFile(event)"></p>
             <p><img id="output" width="200" /></p>
      <p><input type="submit" value="Submit" class="button"></p>
   
       <h2> {{pred_text_c}} </h2>
    </form>
  </body>
</html>