<!DOCTYPE html>
<html>
<head>
	<title>YOLO-Object Detection</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
    </style>
</head>
<body>
    
    
    



<div class='App'>
    <header class='App-header'>
        <center>
            <div>
                <h1>Music</h1></div>
        <div>
            <section >
                
                
                
<div class="row">
  <div class="column" style="background-color:#ffc300;">
    <h2> Alan Walker Song</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='song1.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#af7ac5;">
      <h2>    Warm Light</h2>
            <audio controls="controls">  
    
<source src="{{url_for('static',filename='2.mp3')}}" type='audio/mp3'>  
 
</audio> 

  </div>
  <div class="column" style="background-color:#58d68d;">
      <h2>Healing Water </h2>
            <audio controls="controls">  
    
<source src="{{url_for('static',filename='3.mp3')}}" type='audio/mp3'>  
 
</audio> 

  </div>
</div>
                <br>
                
                                
<div class="row">
  <div class="column" style="background-color:#e6b0aa;">
      <h2> In the Light</h2>
            <audio controls="controls">  
    
<source src="{{url_for('static',filename='4.mp3')}}" type='audio/mp3'>  
 
</audio> 
   
  </div>
  <div class="column" style="background-color:#f8c471;">
      <h2>Champagne at Sunset</h2>
         <audio controls="controls">  
    
<source src="{{url_for('static',filename='6.mp3')}}" type='audio/mp3'>  
 
</audio> 
   
  </div>
  <div class="column" style="background-color:#e74c3c;">
    <h2>
        Beautifull Memories</h2>
         <audio controls="controls">  
    
<source src="{{url_for('static',filename='5.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                
                <br>
                
                                
<div class="row">
  <div class="column" style="background-color:#229954;">
    <h2>Candle Light</h2>
     <audio controls="controls">  
    
<source src="{{url_for('static',filename='7.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#d0d3d4;">
    <h2>Awakening</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='8.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#3498db;">
    <h2>Island Beach</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='9.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
                
                
           

        
        <br>
                <div class="row">
  <div class="column" style="background-color:#ca6f1e;">
    <h2>Lehanga - Punjabi</h2>
     <audio controls="controls">  
    
<source src="{{url_for('static',filename='Lehanga.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#daf7a6;">
    <h2>Roohan vala Geet</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='geet.m4a')}}" type='audio/mp3'>  
 
</audio> 
  </div>
  <div class="column" style="background-color:#633974;">
    <h2>Cheap Thrills</h2>
    <audio controls="controls">  
    
<source src="{{url_for('static',filename='12.mp3')}}" type='audio/mp3'>  
 
</audio> 
  </div>
</div>
            </section></div></center>
	</header>
</div>

</body>
</html>
